<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact Administrator</h1>
                <p>You may send an email to <b>admin@yahoo.com</b>to request for an account or for any other concerns regarding the system.</p>
                
   <!-- <a href="#null" onclick="javascript:history.forward();">Next >></a> -->
            </div>
        </div>
    </div>